@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.main-font {
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;
}

a:visited,a:active,a:link  {
	color: #FFF;
	}

	a:hover{
		color: rgb(247, 245, 162);
		}

#iframe {
	background-color: #00a25a;
	padding-top: 60px;
	padding-bottom: 60px;
	
}
.edm_form .submit_btn {
 
    background-color: #f08327;
   
}
#fe {
	background-image: url(../images/gobg.jpg);
	padding-top: 6vw;
	padding-bottom: 6vw;
	background-attachment: fixed;
}
.go-top{
	position: fixed;
	bottom: 200px;
	right: 1%;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	z-index: 777;	
	display: none;
}

.mainlogo img{
	margin: auto;
}


/* Style tab links */
.tablink {
	background-color:rgb(194 194 194 / 93%);
	color: rgb(255, 255, 255);
	float: left;
	border: none;
	font-size: 1.4em;
	outline: none;
	cursor: pointer;
	padding-top: 11px ;
	border-width: 1px;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;
	width: 33.333%;
  }
  
  .tablink:hover {
	background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
	
	display: none;
	padding-top: 150px;
	height: 100%;
  }
  
.frame{
	
	background-color: #FFF;
	border-style: solid ; 
	border-radius: 20px;
	border-color: #777;
	border-width: 2px;
	height: auto;
	width: auto;
margin-left: 5%;
box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.15);
-o-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.15);
}

.frame-font{
padding: 10%;
	margin-top: 550px;
}
.frame img{
	margin-top: -100px;
	margin-left: -64px;
	position: absolute;


}

.bgcolor-1{
	background-color: #bc79b1;
}
.bgcolor-2{
	background-color:#ee807a;
}
.bgcolor-3{
	background-color:#5fc1c7;
}


.tomore{
	margin-top: 30px;
	font-weight: 800;
	font-size: 1.6em;
	color: #FFF;
	border-width: 0px;
	border-radius: 99px;
	width: 200px;
	height: 60px;
	padding-top: 10px;
	cursor: pointer;
}



.edm_form .submit_btn:hover {
    background-color: #e89a61;
}

.edm_footer_001 .svg {
    fill: #FFFFFF;
}

.edm_footer_001 .icon_list > li {
   
    border-bottom: 1px solid #FFFFFF;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
  }



.mainfont{
	margin-top: 50px;
}
.mainlogo{
	margin-top: 10vw;
}


#bigmain {
	background-image: url(../images/topbg.jpg);
	background-size: cover;
	
	height: 100vh;
}

.edm_footer_001 {

	background-color: #ed6f0b;
}
.edm_footer_001 .icon_list > li > p {
	text-shadow: 0px 0px;
	color: #FFFFFF;

}

#in {
	background-image: url(../images/og-bg.png);
background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 7vw;
	padding-top: 5vw;
}
.mark{
	background: linear-gradient(transparent 20%,rgba(255,255,255,0) 60%, #ffe600 ,transparent 90%);	
    padding: 1px 0px;
}

h4{
	font-weight: bold;
	line-height: 2em;
}

p {
	font-weight: bold;
font-size: 1.3em;
	line-height: 2em;
}
#distant-1{
	margin-top: 300px;
	height: max-content;
	padding-bottom: 20px;
}
#distant-2{
	margin-top: 180px;
	height: max-content;
	padding-bottom: 20px;
}
#distant-3{
	margin-top: 250px;
height: max-content;
	padding-bottom: 20px;
	
}
.highschool {
    border-radius: 20px;
    background-color: #FFFFFF;
    padding-left: 2%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 31%;
   
	box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.376);
	-webkit-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.376);
	-moz-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.376);
	-o-box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 0.376);
}
.high-pic{
	
	margin-top: -150px;
	}


	.gotrial {
		padding: 10px 0;
	
		font-size: 20px;
		letter-spacing: 5px;
		background-color: #00a25a;
	}

	.gotrial:hover {
		
		background-color: #128038;
		
	}

@media screen and (max-width:768px){

	#bigmain {
		background-image: url(../images/topbg_m.jpg);
		background-size: cover;
		height: 100vh;
		min-height: 130vw;
	}
	

	.mainlogo{
		margin-top: 25VW;
	}
	.mainfont{
		margin-top: 75PX;
	}
	h4{
		font-weight: bold;
		line-height: 2em;
		font-size: 1.3em;
	}
	
	p {
		font-weight: bold;
	font-size: 1.2em;
		line-height: 1.7em;
	}

	.tablink {
		
		font-size: 1.3em;
	}




.highschool {
	border-radius: 30px;
	background-color: #FFFFFF;
	height: 100px;
	padding-right: 7%;
	padding-left: 7%;
	padding-bottom: 1%;
	text-align: left;
	margin-bottom: 5%;
	max-width: 95%;
}
.frame img{
	margin-top: 20px;
	margin-left: 0px;
	position:unset;


}
.frame-font{
	padding: 10%;
		margin-top: 0px;
	}
	.tabcontent {
		display: none;
		padding-top: 20px;
		height: 100%;
		text-align: center;
	}
	.frame{
	
	margin-left: 0%;
	
	}

	.tomore{

		width: auto;
		
	}
	.tablink {
	
		background-color: rgb(194 194 194 / 93%);
		color: rgb(255, 255, 255);
		float: left;
		border: none;
		font-size: 1.3em;
		outline: none;
		cursor: pointer;
		padding-top: 0px;
		border-width: 1px;
		border-style: solid;
		border-radius: 0px 0px 0px 0px;
		width: 100%;
		line-height: 0em;
		
		height: 50px;
	}

	.go-top{
		display: none;
		bottom: 5px;
		right: 0px;
	
	}
	.go-top img{
		
		width: 60%;
	
	}
	.mark{
		background: linear-gradient(0deg, #ffe600 , #ffe817  );	
		padding: 1px 0px;
	}


	#distant-1{
		margin-top: 150px;
		height: max-content;
		padding-bottom: 20px;
	}
	#distant-2{
		margin-top: 150px;
		height: max-content;
		padding-bottom: 20px;
	}
	#distant-3{
		margin-top: 150px;
	height: max-content;
		padding-bottom: 20px;
		
	}

.scrolldown{
    width: 24px;
    height: 24px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
	.chevron {
		position: absolute;
		width: 28px;
		height: 8px;
		opacity: 0;
		transform: scale3d(0.5, 0.5, 0.5);
		animation: move 3s ease-out infinite;
	  }
	  
	  .chevron:first-child {
		animation: move 3s ease-out 1s infinite;
	  }
	  
	  .chevron:nth-child(2) {
		animation: move 3s ease-out 2s infinite;
	  }
	  
	  .chevron:before,
	  .chevron:after {
		content: ' ';
		position: absolute;
		top: 0;
		height: 100%;
		width: 51%;
		background: #34a15a;
	  }
	  
	  .chevron:before {
		left: 0;
		transform: skew(0deg, 30deg);
	  }
	  
	  .chevron:after {
		right: 0;
		width: 50%;
		transform: skew(0deg, -30deg);
	  }
	  
	  @keyframes move {
		25% {
		  opacity: 1;
	  
		}
		33% {
		  opacity: 1;
		  transform: translateY(30px);
		}
		67% {
		  opacity: 1;
		  transform: translateY(40px);
		}
		100% {
		  opacity: 0;
		  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
		}
	  }


}

















